div {
  position: relative;
  top: 100px;
  border: solid 5px;
  border-radius: 10px 10px;
  right: 70px;
  left: 100px;
  display: inline-block;
  font-size: 40px;
  color: rgb(25, 0, 255);
}

body {
  background-color: rgb(243, 3, 3);
}